.sign-in {
    width: 90%;
    margin: auto;
    border: 1.2px solid white;
    border-radius: 0.5rem;
    background-color: #fff;

}

.sign-in-container-title {
    padding: 1rem 0px 0;
    font-size: small;
    text-transform: math-auto;
    font-family: monospace;
    color: #00b8ff;
}

.sign-in-container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

    &-wrapper-buttons {
        width: 50%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0% 2rem;

        &-google {
            font-size: medium;
            border: 1px solid;
            padding: 6px 0;
            margin: 8px 0rem;
            display: flex;
            font-family: monospace;
            align-items: center;
            width: 100%;
            justify-content: center;
            background-color: #FFFFFF;
            color: #000000;
            border-radius: 0.3rem;
            &-icon {
                position: relative;
                right: 3px;
            }
        }

        &-facebook {
            border-radius: 0.3rem;
            border: 1px solid rgb(23, 96, 231);
            font-size: medium;
            background-color:#3b5998;
            color: #FFFFFF;
            padding: 6px 0;
            margin: 8px 0rem;
            display: flex;
            font-family: monospace;
            align-items: center;
            width: 100%;
            justify-content: center;

            &-icon {
                position: relative;
                right: 3px;
            }
        }

    }
}

.sign-in-container-fotter {
    padding: 10px 0 1rem;
    font-size: small;
    text-transform: lowercase;
    font-family: monospace;
}