@keyframes moveUp {
  0% {
    background-position: -1px -1px, -1px -1px;
  }

  100% {
    background-position: -50px -50px, -1px -1px;
  }
}

.navBar {
  &__landscape {
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 215px;
    perspective-origin: 50% 0%;
    overflow: hidden;

    &__object {
      background-image: -webkit-linear-gradient(top, rgba(106, 120, 223, 0.308) 1px, transparent 1px), -webkit-linear-gradient(left, rgba(6, 161, 239, 0.26) 1px, transparent 2px);
      background-size: 1px 25px, 22px 1px;
      transform: rotateX(80deg);
      animation: moveUp 1s infinite linear;
      width: 100%;
      height: 100%;

    }
  }
}