$font-stack: Helvetica, sans-serif;
$one-color: #efdddd;
$two-color: #150050;
$three-color: #3F0071;
$four-color: #FB2576;
$five-color: #fff;

.navbar {
  background: #8f299c;
  display: flex;
  position: relative;
  user-select: none;
  align-items: center;
  justify-content: space-around;
  &__list {
    display: flex;
    list-style: none;

    &__item {
      text-decoration: none;
      padding-left: 10px;

      &__link {
        text-transform: capitalize;
        text-decoration: none;
        color: $five-color;
        user-select: none;
      }

      &__link:hover {
        color: $four-color;
      }
    }
  }
  &__logo {
    display: flex;
    position: relative;
    &__landscape{
      position: absolute;
      width: 100%;
      height: 100%;
      perspective: 150px;
      perspective-origin: 100% 35%;
      overflow: hidden;
      z-index: 0;
      &__object{
        background-image: -webkit-linear-gradient(top, #e1dd424d 1px, transparent 1px), -webkit-linear-gradient(left, #ddff0045 1px, transparent 2px);
        background-size: 1px 34px, 31px 1px;
        transform: rotateX(80deg);
        animation: moveUp 1s infinite linear;
        width: 100%;
        height: 100%;
      }
    }
    &__wrapper{
      z-index: 1;
      position: relative;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: baseline;
      &__top{
        font-size: 5.2em;
        text-transform: uppercase;
        font-family: "Open Sans";
        color: transparent;
        position: relative;
        display: block;
        letter-spacing: -15px;
        transform: rotate(-10deg) skew(-20deg);
        margin-left: -100px;
        margin-bottom: -36px;
        &__letter{
          -webkit-text-stroke: 2px #F4C6F4;
          margin-top: -8px;
          display: inline-block;
          padding: 0 1px;
          animation: glow 2.5s linear infinite;
        }
      }
      &__mid{
        font-size: 5.5em;
        font-weight: 800;
        display: block;
        text-transform: uppercase;
        letter-spacing: -12px;
        transform: rotate(-10deg) skew(-15deg);
        margin-bottom: -20px;
        &__letter{
          display: inline-block;
          padding: 0 10px;
          margin: 0 -10px;
          background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiMxODE5MWEiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzE1N2JlNiIvPjxzdG9wIG9mZnNldD0iNTIlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI1NiUiIHN0b3AtY29sb3I9IiMxODE5MWEiLz48c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzE1N2JlNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(32%, #18191a), color-stop(40%, #157be6), color-stop(52%, #ffffff), color-stop(56%, #18191a), color-stop(85%, #157be6), color-stop(100%, #ffffff));
          background: -moz-linear-gradient(top, #18191a 32%, #157be6 40%, #ffffff 52%, #18191a 56%, #157be6 85%, #ffffff);
          background: -webkit-linear-gradient(top, #18191a 32%, #157be6 40%, #ffffff 52%, #18191a 56%, #157be6 85%, #ffffff);
          background: linear-gradient(to bottom, #18191a 32%, #157be6 40%, #ffffff 52%, #18191a 56%, #157be6 85%, #ffffff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #FFF;
        }
      }
      &__bot{
        position: relative;
        top: -20px;
        left: 26px;
        z-index: 100;
        font-family: "OutRun", "Helvetica", sans-serif;
        font-size: 1.4em;
        color: #0d2fff;
        text-transform: capitalize;
        letter-spacing: 5px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #c6ff00;
        transform: rotate(347deg);
        &__letter{

        }
      }
    }
    &__triangule{
      position: absolute;
      left: -43px;
      z-index: 0;
      top: 40px;
      border-left: 170px solid transparent;
      border-right: 147px solid transparent;
      border-bottom: 146px solid rgba(5, 5, 5, 0.33);
      transform: rotate(169deg);
    }

  }
  &__session {
    display: flex;
    list-style: none;
    z-index: 10;

    &__item {
      transition-duration: 0.5ms;
      background-color: $two-color;
      border: 0.5px solid $four-color;
      border-radius: 3px;
      margin-left: 10px;
      display: flex;

      &__link {
        text-transform: capitalize;
        text-decoration: none;
        user-select: none;
        color: $five-color;
        padding: 0 10px;
        font-size: small;
        display: flex;
        align-items: center;
        height: 30px;
      }

      &__link:hover {
        color: $four-color;
      }
    }

    &__item:hover {
      background-color: $five-color;
    }
  }
  &__burger {
    display: flex;
    margin: auto;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;


    &__bar {
      width: 100%;
      height: 7px;
      border-radius: 4px;
      background-color: black;
      transition: all 0.3s ease;
      margin: 2px 0px;
    }

    &--open {

      .navbar__burger__bar--top {
        transform: translate(0, 15px) rotate(45deg);
      }

      .navbar__burger__bar--mid {
        opacity: 0;
      }

      .navbar__burger__bar--bot {
        transform: translate(0, -7px) rotate(135deg);
      }
    }

    &--close {
      .navbar__burger__bar--top {
        transform: translate(0, 0px);
      }

      .navbar__burger__bar--mid {
        opacity: 1;
      }

      .navbar__burger__bar--bottom {
        transform: translate(0, 8px);
      }
    }
  }
}

@font-face {
  font-family: OutRun;
  src: url("./outrun_future.otf") format("opentype");
}



@keyframes moveUp {
  0% {
    background-position: -1px -1px, -1px -1px;
  }
  100% {
    background-position: -50px -50px, -1px -1px;
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 6px #CF33D9) drop-shadow(0 0 6px #CF33D9);
  }
  50% {
    filter: drop-shadow(0 0 1px #CF33D9) drop-shadow(0 0 1px #CF33D9);
  }
  100% {
    filter: drop-shadow(0 0 6px #CF33D9) drop-shadow(0 0 6px #CF33D9);
  }
}
