$font-path: "./../navBar/resourse/font/outrunFuture.otf";
$primary-color: #8f299c;
$secondary-color: #fb2576;
$terceary-color: rgb(216 192 212 / 79%);

$container-margin: 2rem;
$container-padding: 20px;

$main-side-bar:#f2f2f2;

@font-face {
  font-family: OutRun;
  src: url("#{$font-path}") format("opentype");
}

.closeWrapper{
  width: 100vw;
  height: calc(100vh - 0rem - 60px);
  background-color: #5d5656ab;
  margin-top: -2rem;
  position: relative;
}
.sidenavUser.open {
  opacity: 2;
 width: calc(100% - 12px - 2rem - 8px - 1.7px); 
}

.sidenavUser {
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100vh;
  background-color: $main-side-bar;
  z-index: 2;
  transition: width 0.5s ease, opacity 0.8s ease;
  overflow: hidden;

  &__container__uno {
    .closebtn {
      position: absolute;
      right:  6px;
      height: 2rem;
      width: 2rem;
      font-size: large;
      margin: 4px;
      padding: 5px;
      border: 1.7px solid #ffffff;
      background-color: #ffffff;
      border-radius: 4px;
    }

    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    background-color: #00b8ff;
    justify-content: center;
    height: 60px;
    z-index: 1;
    position: relative;

  }



  &__container__dos {
    display: flex;
    flex-direction: column;
    background-color: $main-side-bar;
    height: calc(100% - 60px);
    position: relative;
    top: 0;
    overflow: auto;

    &__menu {
      width: calc(100% - 0rem);


      &__uno {
        background-color: $main-side-bar;
        width: 100%;
        display: flex;
        flex-direction: column;

        &__link {
          width: calc(100% - 2rem - 1px);
          height: 3rem;
          border: 1px solid #000000;
          margin: 6px 1rem 6px 1rem;
          list-style: none;
        }
      }

      &__dos {
        background-color: #c4def3;
        width: 100%;
        display: flex;
        flex-direction: column;

        &__link {
          width: calc(100% - 2rem - 1px);
          height: 3rem;
          border: 1px solid #000000;
          margin: 6px 1rem 6px 1rem;
          list-style: none;
        }
      }
    }
  }


}
.sidenavBurger.open {
  opacity: 2;
 width: calc(100% - 12px - 2rem - 8px - 1.7px); 
}

.sidenavBurger {
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 0%;
  height: 100vh;
  background-color: $main-side-bar;
  z-index: 2;
  transition: width 0.5s ease, opacity 0.8s ease;
  overflow: hidden;

  &__container__uno {
    .closebtn {
      position: absolute;
      left: 6px;
      height: 2rem;
      width: 2rem;
      font-size: large;
      margin: 4px;
      padding: 5px;
      border: 1.7px solid #ffffff;
      background-color: #ffffff;
      border-radius: 4px;
    }

    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    background-color: #00b8ff;
    justify-content: center;
    height: 60px;
    z-index: 1;
    position: relative;

  }



  &__container__dos {
    display: flex;
    flex-direction: column;
    background-color: $main-side-bar;
    height: calc(100% - 60px);
    position: relative;
    top: 0;
    overflow: auto;

    &__menu {
      width: calc(100% - 0rem);


      &__uno {
        background-color: $main-side-bar;
        width: 100%;
        display: flex;
        flex-direction: column;

        &__link {
          width: calc(100% - 2rem - 1px);
          height: 3rem;
          border: 1px solid #000000;
          margin: 6px 1rem 6px 1rem;
          list-style: none;
        }
      }

      &__dos {
        background-color: #c4def3;
        width: 100%;
        display: flex;
        flex-direction: column;

        &__link {
          width: calc(100% - 2rem - 1px);
          height: 3rem;
          border: 1px solid #000000;
          margin: 6px 1rem 6px 1rem;
          list-style: none;
        }
      }
    }
  }


}

.navBar {
  background: $primary-color;
  display: flex;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  box-sizing: border-box;

  &__container {
    position: relative;
    border: 0.5px solid $secondary-color;
    width: 100vw;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 2rem;
    padding: 20px;
    height: 60px;
    background: $terceary-color;
    z-index: 2;



    .hamburgerMenu {
      display: none;
      position: absolute;
      left: 6px;
      height: 2rem;
      width: 2rem;
      font-size: large;
      margin: 4px;
      padding: 5px;
      border: 1.7px solid #cfabcf;
      background-color: #ffffff;

      border-radius: 4px;
    }

    .userIcon {
      display: none;
      position: absolute;
      right: 6px;
      height: 2rem;
      width: 2rem;
      font-size: large;
      margin: 4px;
      padding: 5px;
      border: 1.7px solid #cfabcf;
      background-color: #ffffff;

      border-radius: 4px;
    }

    @media screen and (max-width: 768px) {
      .hamburgerMenu {
        display: flex;
      }

      .userIcon {
        display: flex;
      }
      .logo {
        margin: auto;
        position: relative;
        bottom: 80px;
    
      }

      margin-left: 0rem;
      margin-right: 0rem;
      margin-top: 0rem;
      border-radius: 0;
      border: 0;
      justify-content: space-between;
    }

    @media screen and (max-width: 425px) {
      .logo {
        margin: auto;
        position: relative;
        bottom: 80px;
    
      }
    }
  }
}