$font-stack: Helvetica, sans-serif;
$one-color: #efdddd;
$two-color: #150050;
$three-color: #3F0071;
$four-color: #FB2576;
$five-color: #fff;

@font-face {
  font-family: OutRun;
  src: url("./../navbar/resourse/font/outrun_future.otf") format("opentype");
}


.navbar {
  background: #8f299c;
  display: flex;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  &__container {
    position: relative;
    border: 3px solid #fb2576;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    border-radius: 8px;
    padding: 20px;
    height: 86px;
    background: #f2ed3aab;
    z-index: 9;
  }
}