.login {
    width: 60vw;
    text-align: center;
    padding: 1rem 1rem;
    border: 1.2px solid white;
    border-radius: 0.5rem;
    background-color: #ffffff;
    font-size: medium;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    &-title {
        padding: 0.2rem 0px 0rem;
        font-size: x-large;
        text-transform: math-auto;
        font-family: monospace;
        color: #4c76ce;
    }

    &-instruction {
        width: 100%;
        padding: 1rem 0;
        font-size: smaller;
        display: flex;
        align-items: center;
        color: #4a4a4a;
        span{
            flex:2;
        }
        div{
            flex:1;
        }
    }
    &-instructions {
        width: 100%;
        padding: 0.5rem 0;
        font-size: small;
  
    }
    &-main {
        &-divider { 
            width: 80%;
            margin: 2rem auto 2rem;
        }
    }

    &-fotter {
        padding: 10px 0 1rem;
        font-size: small;
        text-transform: lowercase;
        font-family: monospace;
    }
}