.login-pop{
    max-width: 500px;
    position: relative;
    margin: auto;
    border: 1px solid #ece6ac;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 15px;
}
.img-login-pop{
    border: 3px solid;
    border-radius: 100%;
    background-color: #cce08b;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title-login-pop{
    text-align: center;
    padding-top: 20px;
}