$font-stack: Helvetica, sans-serif;
$primary-color: #333;

.login {
  min-width: 320px;
  width: 600px;
  height: fit-content;
  min-height: 600px;
  background-color: rgb(224, 224, 224);
  display: flex;
  align-items: center;
  flex-direction: column;
  .login__title {
    color: black;
  }
  .login__form {
    display: flex;
    flex-direction: column;
    .login__campo {
      display: flex;
      flex-direction: column;
      .login__label {
      }
      .login__input {
      }
    }
  }
}
