$main-side-bar: #f2f2f2;

.login {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__button:hover {
    border: 1px solid #ffffff;
    background-color: #8f299c;
    color: #d4dbeb;
  }

  &__button {
    &__iconUser {
      width: 23px;
      height: 27px;
      position: relative;
      top: 5px;
    }

    &__iconDown {
      font-size: medium;
      width: 14px;
      height: 13px;
      margin-left: 2px;
      margin-top: 12px;

    }

    font-size: medium;
    border-radius: 0.5em;
    width: 7em;
    text-transform: capitalize;
    font-weight: 600;
    font-family: system-ui;
    letter-spacing: 1px;
    line-height: 3.5rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 0rem;
    padding: 0 0px;
    text-align: center;

  }

  &__list {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 30vw;
    background-color: $main-side-bar;
    display: flex;
    flex-direction: column;

    &__link {

      width: calc(100% - 2rem - 1px);
      height: 3rem;
      border: 1px solid #000000;
      margin: 6px 1rem 6px 1rem;
      list-style: none;
    }
  }
}