.sign-up {
    width: 50%;
    margin: auto;
    border: 1.2px solid white;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
}

.sign-up-container-title {
    padding:1rem 0px 2rem;
    font-size: x-large;
    text-transform: math-auto;
    font-family: monospace;
    color: #4c76ce;
}

.sign-up-container-main {
    flex-direction: column;
    display: flex;
    align-items: center;
    &-divider {
        width: 95%;
        margin: 1rem auto ;
    }
}

.sign-up-container-fotter {
    padding: 10px 0 1rem;
    font-size: small;
    text-transform: lowercase;
    font-family: monospace;
}