@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

.ease-in-animation {
    @apply transition duration-500 ease-in-out;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */


.sidebar {
    padding-top: 15px;
    overflow: hidden;
    width: 320px;
    text-align: center;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}