* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    box-sizing: border-box;
    height: 100vh;
}

body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(#8f299c 20%, #dd5f00c9 50%, #0c141f 95%);
}
