* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    box-sizing: border-box;
    height: 100vh;
}

body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(#8de2dc 20%, #d7d683c9 50%, #1df1e0 95%);
}
