.navBar {
  &__dropdown {
    position: absolute;
    top: 60px;
    margin: 0px 0px 0px 10px;
    background: #85db16cc;

    &__list {
      list-style: none;

      &__session {
        text-decoration: none;
        border: 1px solid red;
      }
    }
  }
}