$font-stack: Helvetica, sans-serif;
$one-color: #efdddd;
$two-color: #150050;
$three-color: #3F0071;
$four-color: #FB2576;
$five-color: #fff;



.navBar {
  &__container {
    &__group {
      display: flex;
      @media screen and (max-width: 768px) {
        display: none;
      }
      &--responsiveButtons{
        display: flex;
      @media screen and (min-width: 768px) {
        display: none;
      }
      }
    }
    &__list {
      display: flex;
      list-style: none;
      &__item {
        text-decoration: none;
        padding-left: 10px;
        display: flex;
        align-items: center;

        &__link {
          text-transform: capitalize;
          text-decoration: none;
          color: #f3f3f3;
          -webkit-text-stroke-color: #000000;

          -webkit-user-select: none;
          user-select: none;
          font-size: large;
          font-family: "OutRun";
          align-items: center;
          display: flex;
          &__icon{
            width: 16px;
            position: relative;
            top: 2px;
            right: 2px;
          }
        }

        &__link:hover {
          color: $four-color;
        }
      }
    }
    &__session {
      display: flex;
      list-style: none;
      z-index:2;

      &__item {
        transition-duration: 0.5ms;
        background-color: #7c1f88;
        border: 1px solid #000000;
        border-radius: 3px;
        margin-left: 10px;
        display: flex;
        align-items: center;

        &__link {
          text-transform: capitalize;
          text-decoration: none;
          -webkit-user-select: none;
          user-select: none;
          color: #f3f3f3;
          padding: 0 10px;
          font-size: small;
          display: flex;
          align-items: center;
          height: 29px;
          font-family: 'OutRun';
          &__icon{
            width: 16px;
            position: relative;
            top: 2px;
            right: 2px;
          }
        }
        &__link:hover {
          color: $four-color;

        }


      }

      &__item:hover {
        background-color: $five-color;
      }
    }
  }
}

.sidenav {
  width: 85%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #111111fa;
  overflow-x: auto;
  transition: 0.5s;  

  &__r{
    right: 0;
  }
  &__left{
    left: 0;
  }
}


.sidenav .closebtn {
  position: absolute;
  border: 1px solid #b92828;
  width: 100%;
  height: auto;
  display: flex;
  top: 0px;
  justify-content: flex-end;
}

.open {
  height: 100vh;
}
.close{
  width: 0;
}